.error-message {
    height : 2rem;
    left: 0;
    font-size: 1rem;
    right: 0;
    color: rgb(239, 144, 144);
    transition: all 0.4s;
    text-align: center;
  }
  
  .error-text {
    display: block;
  }
  