$background-color_1: rgba(104, 166, 194, 0.459);
$background-color_2: #f0f8ff;
$background-color_3: #4b4873;
$background-color_blue: #3232d9;
$background-color_blue-dark: rgb(68, 52, 139);
$background-color_orange: rgba(243, 163, 77);
$background-color_8: rgba(240, 248, 255, 0);
$background-color_9: black;