<div class="carousel">
  <div *ngIf="isWide" class="all-reviews">
    <div *ngFor="let review of reviews; let i=index">
      <div class="slide">
           <div class="prof-image" [style]="imageList[i]">
          <div class="u-name">{{ review.uName }}</div>
           </div>
        <h3>{{ review.title }}</h3>
        <div class="review-content">
          <div class="review-details">
            <div class="rating">
              <span class="fa fa-star" [ngClass]="{'checked': review.rating >= 1}"></span>
              <span class="fa fa-star" [ngClass]="{'checked': review.rating >= 2}"></span>
              <span class="fa fa-star" [ngClass]="{'checked': review.rating >= 3}"></span>
              <span class="fa fa-star" [ngClass]="{'checked': review.rating >= 4}"></span>
              <span class="fa fa-star" [ngClass]="{'checked': review.rating >= 5}"></span>
            </div>
            <p>{{ review.text }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!isWide" class="one-review">
    <div class="slide">
           <div class="prof-image" [style]="imageList[reviewIndex]">
          <div class="u-name">{{ currReview.uName }}</div>
           </div>
        <h3>{{ currReview.title }}</h3>
        <div class="review-content">
          <div class="review-details">
            <div class="rating">
              <span class="fa fa-star" [ngClass]="{'checked': currReview.rating >= 1}"></span>
              <span class="fa fa-star" [ngClass]="{'checked': currReview.rating >= 2}"></span>
              <span class="fa fa-star" [ngClass]="{'checked': currReview.rating >= 3}"></span>
              <span class="fa fa-star" [ngClass]="{'checked': currReview.rating >= 4}"></span>
              <span class="fa fa-star" [ngClass]="{'checked': currReview.rating >= 5}"></span>
            </div>
            <p>{{ currReview.text }}</p>
          </div>
        </div>
      </div>
    </div>
</div>
