$color_1: #f0ffff;
$color_2: #9c3232;
$color_3: #888c8c;
$color_4: #6491e4;
$color_5: rgba(240, 255, 255, 0.458);
$font-family_1: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$font-family_2: 'Times New Roman', Times, serif;
$font-family_3: Georgia, 'Times New Roman', Times, serif;
$background-color_1: rgba(104, 166, 194, 0.459);
$background-color_2: #f0f8ff;
$background-color_3: #4b4873;
$background-color_4: #3232d9;
$background-color_5: rgba(243, 163, 77);
$background-color_6: #e79e17;
$background-color_7: #1281d0;
$background-color_8: rgba(240, 248, 255, 0);
$background-color_9: black;

@keyframes intro {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.main-box {
	position: absolute;
	height: 100%;
	width: 30%;
	text-align: center;
	font-family: $font-family_1;
	align-self: flex-end;
	background-color: $background-color_1;
	margin-top: 0;
}
.logo-box {
	position: absolute;
	width: 70%;
	height: 100%;
	align-self: flex-start;
	background-size: cover;
}

#new {
	float: right;
}

#cancelbutt {
	position: absolute;
	width: 2rem;
	height: 2rem;
	font-family: $font-family_2;
	font-size: 20px;
	border-radius: 30px;
	text-align: center;
	right: 1rem;
	top: 1rem;
	background-color: $background-color_2;
	visibility: hidden;
	margin: 0;
}
.heading {
	margin-top: 2rem;
	text-align: start;
	margin-left: 2rem;
	color: $color_1;
	font-family: $font-family_1;
	color: $color_5;
}

#plan {

}

.logo {
	animation: intro;
	margin-top: 3rem;
	color: $color_1;
	font-family: $font-family_1;
	font-size: 100px;
	margin-left: 2rem;
	margin-bottom: 2vh;
}

.nav-bar {
	margin-bottom: 10rem;
}

.fcontainer {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-size:cover;
	background-position-y:fixed;
	background-image: linear-gradient(180deg, rgba(1, 14, 13, 0.6) 0%, rgba(10, 57, 68, 0.6) 100%), url(../../assets/mountains-winter-daytime-glacier-blue-mountain-range-5k-6000x3376-1248.jpg);
}
.error-box {
	text-align: center;
	color: $color_2;
	height: 0;
}
form {
	text-align: center;
	height: 23rem;
	width: 25rem;
	padding-top: 0;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.label {
	text-align: left;
	margin-left: 3rem;
}
.auth-butt {
	opacity: 1;
	width: 21rem;
	margin-left: 2rem;
	margin-right: 2rem;
	margin-top: 1rem;
	font-family: $font-family_1;
	font-size: 18px;
	height: 2rem;
	border: none;
	border-radius: .3rem;
	text-align: center;
	transition: all .2s;
	transform-origin: 50% 50%;
	&:hover {
		cursor: pointer;
		box-shadow: 10px 10px 22px -9px gray;
		scale: 1.02;
	}
}
.auth-butt-disabled {
	opacity: 1;
	width: 21rem;
	margin-left: 2rem;
	margin-right: 2rem;
	margin-top: 1rem;
	font-family: $font-family_1;
	font-size: 18px;
	height: 2rem;
	border: none;
	border-radius: .3rem;
	color: $color_3;
	text-align: center;
	transition: all .2s;
}
input {
	margin-top: 2rem;
	height: 2rem;
	transition: all .5s;
	width: 21rem;
	border: none;
	border-bottom: 2px double #7b767600;
	outline: none;
	border-radius: .3rem;
	padding-left: 5px;
	font-family: $font-family_1;
	font-size: 18px;
	&:first-child {
		margin-top: 1rem;
	}
}
#disc {
	margin-right: 2rem;
}
.input-box {
	padding-top: 0;
}
h4 {
	margin: 0;
	transition: all .5s;
}
#pass {
	float: left;
}


#reg {
	float: right;
}
.links {
	padding-left: 2rem;
	padding-right: 2rem;
	margin-top: 1rem;
}

new_alter {
	float: right;
	visibility: hidden;
}
a {
	transition: all .2s;
	text-decoration: none;
	color: $color_1;
	&:hover {
		color: $color_4;
	}
}
.line {
	height: .5px;
	border-radius: 0.5p;
	background-color: $background-color_3;
	width: 21rem;
	margin: auto;
	margin-top: 1rem;
}
.alt {
	background-color: $background-color_2;
	width: 21rem;
	margin: auto;
	margin-top: 1rem;
	border-radius: 50px;
	height: 1.5rem;
	box-shadow: -3px 23px 15px -16px rgba(148, 148, 148, 0.73);
	padding: 0;
	color: $color_1;
	&:hover {
		cursor: pointer;
	}
}
#fb {
	transition: all .15s;
	margin-bottom: 1rem;
	background-color: $background-color_4;
	&:hover {
		box-shadow: 10px 10px 22px -9px gray;
		scale: 1.02;
	}
}
#google {
	transition: all .15s;
	background-color: $background-color_5;
	&:hover {
		box-shadow: 10px 10px 22px -9px gray;
		scale: 1.02;
	}
}
.red-border {
	border-bottom: 2px double #ed341bdb;
	box-shadow: 0 18px 20px -9px #ed341bdb;
}
.green-border {
	border-bottom: 2px double #1bf142;
}
#email {
	margin-top: 0;
}
#trip-butt {
	font-size: 30px;
	height: 3rem;
	margin-top: 2rem;
	border-radius: 100px;
	background-color: $background-color_6;
	color: $color_1;
	margin-bottom: 2rem;
}
#disc-butt {
	font-size: 30px;
	height: 3rem;
	margin-top: 2rem;
	border-radius: 100px;
	background-color: $background-color_7;
	color: $color_1;
	margin-left: 0;
	margin-bottom: 2rem;
}

#new_alter {
    visibility: hidden;
 }

.auth-box {
	margin-top: 2rem;
	margin-left: 2rem;
	float: right;
}
.auth-butt2 {
	margin-right: 1rem;
	background-color: $background-color_8;
	border: none;
	font-size: 25px;
	color: $color_5;
	visibility: hidden;
	font-family: $font-family_1;
	&:hover {
		color: $color_1;
		cursor: pointer;
		text-decoration: underline;
	}
}

@media all and (min-width: 1382px) {
	.main-box {
		visibility: visible;
	}
	#cancelbutt {
		visibility: hidden;
	}
}
@media all and (max-width: 1381px) {
	.main-box {
		visibility: visible;
	}
	#cancelbutt {
		visibility: hidden;
	}
	input {
		width: 16rem;
	}
	form {
		width: 20rem;
	}
	#loginButt {
		width: 16rem;
	}
	.alt {
		width: 16rem;
	}
	#disc-butt {
		margin-left: 2rem;
	}
}
@media all and (max-width: 1097px) {
	.main-box {
		width: 100%;
		height: 100%;
		background: none;
		flex-flow: row wrap;
		flex-grow: 1;
		transition: all 0s;
		visibility: hidden;
	}

	#reg {
		transition: all 0s;
	}

	#register-box {
		visibility: visible;
		background-image: linear-gradient(180deg, rgba(1, 14, 13, 0.6) 0%, rgba(10, 57, 68, 0.6) 100%), url(../../assets/mountains-winter-daytime-glacier-blue-mountain-range-5k-6000x3376-1248.jpg);
		background-size:cover;
	}
	.auth-butt {
		transition: all 0s;
	}
	input {
		transition: all 0s;
	}
	#pass {
		transition: all 0s;
	}
	#new_alter {
        transition: all 0s;
        visibility: visible;
    }
	#loginButt {
		transition: all 0s;
	}
	#google {
		transition: all 0s;
	}
	#fb {
		transition: all 0s;
	}
	.logo-box {
		width: 100%;
		height: 100%;
		flex-flow: row wrap;
		flex-grow: 1;
	}
	.auth-butt2 {
		visibility: visible;
	}

}

@media only screen and (max-width: 795px) {
	.logo {
		text-align: center;
		margin-left: 0;
		font-size: 13vw;
	}

	.trip-box {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	#trip-butt {
		height: 6vh;
		width: 40vh;
		font-size: 3vh;
	}

	#disc-butt {
		height: 6vh;
		width: 40vh;
		font-size: 3vh;
	}

	.nav-bar {
		
	}

	.heading {
		margin-left: 0;
		margin-right: 0;
		font-size: 5vw;
		text-align: center;
	}

	#disc {
		margin-right: 0;
	}

}

.first-line, .second-line {
	margin: 0;
	position: relative;
	height: 2px;
	width: 1rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: $background-color_9;
	transform-origin: 50% 50%;
}

.first-line {
	left: 10px;
	transform: rotate(45deg);
}

.second-line {
	bottom: 10px;
	left: 10px;
	transform: rotate(-45deg);
}

.cross {
	margin: 0;
	position: absolute;
	height: 1.2px;
	width: 1.2rem;
	top: 1rem;
	right: 1rem;
	transform-origin: 50% 50%;
	opacity: 0.7;
}

.cross::after, .cross::before {
	position: absolute;
	margin: 0;
	height: 1.2px;
	width: 1.2rem;
	transform-origin: 50% 50%;
	content: " ";
	background-color: $background-color_9;
}

.cross::after {
	transform: rotate(45deg);
}

.cross::before {
	transform: rotate(-45deg);
}



